pottery.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!--
A format for describing pottery glazes, samples and pieces.
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:db="http://docbook.org/ns/docbook"
           targetNamespace="tag:fenglich.fastmail.fm,2007:Pottery"
           xmlns="tag:fenglich.fastmail.fm,2007:Pottery"
           elementFormDefault="qualified">

    <!-- For xml:lang -->
    <xs:import schemaLocation="xml.xsd"
               namespace="http://www.w3.org/XML/1998/namespace"/>

    <xs:import schemaLocation="docbook.xsd"
               namespace="http://docbook.org/ns/docbook"/>
    <!-- xml:id per http://www.w3.org/TR/2005/REC-xml-id-20050909/ -->
<!--
    <xs:import schemaLocation="xmlid.xsd"
               namespace="http://www.w3.org/XML/1998/namespace"/>
-->

    <xs:simpleType name="sampleIDsType">
        <xs:list itemType="sampleIDType"/>
    </xs:simpleType>

    <xs:simpleType name="sampleIDType">
        <xs:restriction base="xs:string">
            <xs:pattern value="(T|W)\d+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="pottery" type="potteryType"/>

    <xs:complexType name="potteryType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:sequence>
                    <xs:element name="components"
                                minOccurs="1"
                                maxOccurs="1"
                                type="componentsType">
                        <!-- TODO How do I put a uniqueness constraint on string(component)?. -->
                    </xs:element>

                    <xs:element name="pieces"
                                minOccurs="1"
                                maxOccurs="1"
                                type="piecesType">
                    </xs:element>

                    <xs:element name="samples"
                                minOccurs="1"
                                maxOccurs="1"
                                type="samplesType">
                    </xs:element>

                    <xs:element name="clays"
                                minOccurs="1"
                                maxOccurs="1"
                                type="claysType">
                        <xs:unique name="unique-clays-name">
                            <xs:selector xpath="clay"/>
                            <xs:field xpath="@name"/>
                        </xs:unique>
                    </xs:element>

                    <xs:element name="glazes"
                                minOccurs="1"
                                maxOccurs="1"
                                type="glazesType">
                        <xs:unique name="unique-glaze-name">
                            <!-- TODO Why doesn't this work? -->
                            <xs:selector xpath="glaze"/>
                            <xs:field xpath="@name"/>
                        </xs:unique>

                        <xs:unique name="unique-glaze-productID">
                            <!-- TODO Why doesn't this work? -->
                            <xs:selector xpath="glaze"/>
                            <xs:field xpath="@productID"/>
                        </xs:unique>

                    </xs:element>

                </xs:sequence>
                <xs:attribute name="version" type="xs:decimal"/>
                <xs:attribute ref="xml:lang" use="required"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="samplesType">
        <xs:sequence>
            <xs:element name="sample" type="sampleType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="piecesType">
        <xs:sequence>
            <xs:element name="piece" type="pieceType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="imageType">
        <xs:simpleContent>
            <xs:extension base="xs:NCName"/>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="pieceType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:sequence>
                    <xs:element name="measurementsWhenDone"
                                minOccurs="0"
                                maxOccurs="1">
                        <!-- HWD, Measurements are in millimeters. -->
                        <xs:complexType>
                            <xs:attribute name="height" type="xs:positiveInteger"/>
                            <xs:attribute name="width" type="xs:positiveInteger"/>
                            <xs:attribute name="depth" type="xs:positiveInteger"/>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="image"
                                type="imageType"
                                minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="clayref"
                                type="clayrefType"
                                minOccurs="1"
                                maxOccurs="unbounded"/>
                    <xs:element name="glazing"
                                type="glazingType"
                                minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="brushon"
                                type="brushonType"
                                minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element ref="db:para"
                                minOccurs="1"
                                maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute ref="xml:id" use="required"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="claysType">
        <xs:sequence>
            <xs:element name="clay" type="clayType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="recipeType">
        <xs:sequence>
            <xs:element name="component" type="componentRefType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="componentRefType">
        <xs:attribute name="idref"          type="xs:IDREF" use="required"/>
        <xs:attribute name="replacementFor" type="xs:IDREF" use="optional"/>
        <xs:attribute name="parts"          use="required">
            <xs:simpleType>
                <xs:restriction base="xs:decimal">
                    <xs:minExclusive value="0"/>
                    <xs:maxInclusive value="100"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="clayType">
        <xs:attribute ref="xml:id" use="required"/>
        <xs:attribute name="name"           type="xs:normalizedString"  use="required"/>
        <xs:attribute name="manufacturer"   type="xs:normalizedString"  use="required"/>
        <xs:attribute name="productID"      type="xs:normalizedString"  use="required"/>
    </xs:complexType>

    <xs:complexType name="clayrefType">
        <xs:attribute name="idref"          type="xs:IDREF"            use="required"/>
        <xs:attribute name="weightWhenWet"  type="xs:positiveInteger"   use="optional"/>
    </xs:complexType>

    <xs:complexType name="glazesType">
        <xs:sequence>
            <xs:element name="glaze" type="glazeType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="glazeType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:sequence>
                    <xs:element ref="db:para"
                                minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="recipe"
                                type="recipeType"
                                minOccurs="0"
                                maxOccurs="1">
                        <xs:unique name="unique-componentref">
                            <!-- TODO Why doesn't this work? -->
                            <xs:selector xpath="component"/>
                            <xs:field xpath="@idref"/>
                            <xs:field xpath="@replacementFor"/>
                        </xs:unique>
                    </xs:element>
                </xs:sequence>
                <xs:attribute ref="xml:id"          use="required"/>
                <xs:attribute name="name"           type="xs:normalizedString"  use="required"/>
                <xs:attribute name="manufacturer"   type="xs:normalizedString"  use="required"/>
                <xs:attribute name="productID"      type="xs:normalizedString"  use="optional"/>
                <xs:attribute name="type"           use="optional">
                    <xs:simpleType>
                        <xs:restriction base = "xs:string">
                            <xs:enumeration value = "BrushOn"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:restriction>
        </xs:complexContent>

    </xs:complexType>

    <xs:complexType name="sampleType">
        <xs:sequence>
            <xs:element name="image" type="imageType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="brick" type="brickType" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="glazing" type="glazingType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="brushon" type="brushonType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="clayref" type="clayrefType" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="db:para"
                        minOccurs="1"
                        maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="date" type="xs:date" use="required"/>
    </xs:complexType>

    <xs:complexType name="brickType">
        <xs:attribute ref="xml:id" use="required"/>
    </xs:complexType>

    <xs:complexType name="glazingType">
        <xs:attribute name="idref"              use="required" type="xs:IDREF"/>
        <xs:attribute name="hydrometerGravity"  use="optional" type="hydrometerGravityType"/>
        <xs:attribute name="sieved"             use="required">
            <xs:simpleType>
                <xs:union memberTypes="xs:integer withMixerType"/>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="brushonType">
        <xs:attribute name="idref"      use="required" type="xs:IDREF"/>
    </xs:complexType>

    <xs:simpleType name="hydrometerGravityType">
        <xs:restriction base="xs:integer"/>
    </xs:simpleType>

    <xs:simpleType name="withMixerType">
        <xs:restriction base = "xs:string">
            <xs:enumeration value = "WithMixer"/>
            <xs:enumeration value = "no"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="componentType">
        <xs:simpleContent>
            <xs:extension base="xs:normalizedString">
                <xs:attribute ref="xml:id" use="required"/>
                <xs:attribute name="price" type="xs:positiveInteger" use="optional"/>
                <xs:attribute name="priceIsFor" type="xs:positiveInteger" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="componentsType">
        <xs:sequence>
            <xs:element name="component" type="componentType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
<!--
vim: et:ts=4:sw=4:sts=4
-->
